.header{
    background-color: #004F88;
    color: #FFFFFF;
    display: flex;
    width: 100%;  
    justify-content: space-between;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    height: 4.8rem;
}


.left_side{
    margin-left: 2rem;
    max-height: 4.2rem;
}

.left_side .logo{
    height: 100%;
    cursor: pointer;
}

.left_side > h4{
    display: none;
}


.right_side{
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.vertical_separator{
    height: 2.4rem;
    width: 0.1rem;
    background-color: #FFFFFF;
    margin: 0 1rem;
}

.mi_link{
    color: #FFFFFF;
}

.mi_link:hover{
    color: #CCD6E8;
}

.nav-item .active_section{
    border-bottom: 1px solid #FFFFFF;
    /* border-bottom-color: #FFFFFF; */

    /* background-color: #CCD6E8; */
    /* color: #004F88; */
    /* border-radius: 0.4rem; */
    /* font-weight: bold; */
}

.search_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1.5rem;
    cursor: pointer;
}




.menu_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.mi_texto{
    font-weight: normal;
}

.mi_texto:hover{
    color: #CCD6E8;
}


/* Add a breakpoint at 1024px */
@media screen and (max-width: 1024px) {
    .header{
        height: min-content;
        flex-direction: column;
        gap: 1.5rem;
        
    }

    .left_side{
        align-items: center;
        height: 4.2rem;
        justify-content: space-evenly;
        margin: 0;
    }

    .left_side .logo{
        height: 100%;
        cursor: pointer;
    }

    .left_side > h4{
        display: block;
        line-height: normal;
        padding-top: 0.7rem;
    }

    .right_side{
        justify-content: space-between;
        margin: 0 3rem;
    }

    .right_side > h4, .vertical_separator{
        display: none;
    }

    

    
   
}